In [1]:
import pandas as pd
import numpy as np
from pathlib import Path
from sklearn.cluster import KMeans
from sklearn.preprocessing import StandardScaler
from sklearn.ensemble import RandomForestRegressor
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error, r2_score
from sklearn.ensemble import GradientBoostingRegressor
%matplotlib inline
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error, r2_score
from sklearn.model_selection import TimeSeriesSplit

In [2]:
# Read the CSV file into a DataFrame
apple_df = pd.read_csv("AAPL.csv", index_col = "Date")

In [3]:
# Display the DataFrame
apple_df.head()

                 Open       High        Low      Close  Adj Close     Volume
Date
2014-04-30  21.165714  21.408215  21.064285  21.074642  18.562872  456640800
2014-05-01  21.142857  21.242857  20.941429  21.124287  18.606590  244048000
2014-05-02  21.155001  21.221430  21.061071  21.163570  18.641197  191514400
2014-05-05  21.076429  21.464287  21.071428  21.462856  18.904810  287067200
2014-05-06  21.492857  21.586071  21.228930  21.228930  18.698767  374564400

In [4]:
# Define features set
X = apple_df.copy()
X.drop("High",axis=1, inplace=True)
X.head()

                 Open        Low      Close  Adj Close     Volume
Date
2014-04-30  21.165714  21.064285  21.074642  18.562872  456640800
2014-05-01  21.142857  20.941429  21.124287  18.606590  244048000
2014-05-02  21.155001  21.061071  21.163570  18.641197  191514400
2014-05-05  21.076429  21.071428  21.462856  18.904810  287067200
2014-05-06  21.492857  21.228930  21.228930  18.698767  374564400

In [5]:
# Define target vector
y = apple_df["High"]
y[:5]

Date
2014-04-30    21.408215
2014-05-01    21.242857
2014-05-02    21.221430
2014-05-05    21.464287
2014-05-06    21.586071
Name: High, dtype: float64

In [6]:
# Drop the first row from target y
y = y.iloc[1:]

# Drop the last row from features X
X = X.iloc[:-1]